<!DOCTYPE html>
<html>
<head>
  <title>ApplianceApi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
    <%#= render 'layouts/navigation' %>
    
    <div class="navbar navbar-fixed-top">
    	<div class="navbar-inner">
    		<div class="container">
    			<h4> Target Status </h4>
    		</div>
    	</div>
    </div>
</header>

<main role="main">
	<div class="container">
		<%= yield %>
	</div>
</main>
</body>
</html>
